body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    flex: 1 1 calc(25% - 40px); /* 4 cards per row with 20px gap */
    margin: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin: 0;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 40px); /* 2 cards per row */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* 1 card per row */
    }
}

.edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.save-btn, .cancel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.save-btn {
    background-color: #28a745;
}

.cancel-btn {
    top: 45px; /* cancel button is placed below save button */
    background-color: #dc3545;
}

.card.editing .edit-btn {
    display: none;
}

.card.editing .save-btn, .card.editing .cancel-btn {
    display: inline-block;
}

.editable {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: calc(100% - 12px); /* padding ve border için biraz yer bırakın */
    box-sizing: border-box;
    min-height: 200px; /* daha fazla alan sağlamak için */
    margin-top: 10px;
    overflow: auto; /* dikey kaydırma için */
}

.card-content p {
    margin: 0; /* Üst ve alt boşlukları sıfırla */
    padding: 0; /* İç boşlukları sıfırla */
}
